@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Wix+Madefor+Display&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/coach.css");
@import url("components/method.css");


body {
font-family: 'Noto Sans', sans-serif;
background-color: #F7F7FA;
}

h1, h2, h3 {
	font-family: 'Wix Madefor Display', sans-serif;
}

a {
	text-decoration: none;
}
p {
	font-size: 18px;
	color: black;
}

#témoignages {
	margin-bottom: 40px;
}
#fonctionnement {
	margin-bottom: 40px;
}
#bouton {
  display: flex;
  justify-content: center;
  margin:auto;
}