.methods{
	display: flex;
	flex-wrap: wrap;
}

.method {
	padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 10px;
    flex-basis: 220px;
    flex-grow: 1;
}
.method h3 {
	margin: 0;
	text-align: center;
}

.method p{
	font-weight: bolder;
	font-size: 12px;
	flex-grow: 1;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}